@media (max-width: 650px){
    .titulo-secao{
        font-size: 30px;
    }

    #cabecalho .container{
        display: block;
        padding: 10px;
    }

    #cabecalho #logo{
        width: 20px;
        margin: 0 auto;
        display: block;
    }

    #cabecalho nav{
        margin-top: 20px;
        display: none;
    }

    #cabecalho nav li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #333;
    }

    /* --------------------Versões---------------- */

    #versoes #modelos {
        grid-template-columns: repeat(2, auto);
    }

    #fotos #galeria-fotos {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 380px){
    #versoes #modelos{
        display: block;
    }

    #fotos #galeria-fotos{
        display: block;
        gap: 10px;
    }
}